<header>

    <div id="header-top" class="container-fluid">

        <h1 class="title">MAX GODEFROY</h1>

        <h3 id="header-subtitle" class="subtitle">GRAPHICS&nbsp;PROGRAMMING | ENGINE&nbsp;PROGRAMMING</h3>

        <div class="col"></div>

        {%-  include social.liquid -%}

    </div>

    <nav>

        {% assign pages_list = site.pages |  sort: 'order' %}
        {% assign group = 'navigation' %}
        {% for node in pages_list %}
            {% if group == null or group == node.group %}
                {% if page.url == node.url %}
                    <a href="{{node.url}}" class="active">{{ node.title | upcase }}</a>
                {% else %}
                    <a href="{{node.url}}">{{ node.title | upcase }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

    </nav>

</header>

<script>

    const headerTop = $("#header-top");

    let previous = window.innerWidth
    function updateSubtitle() {

        if (!((previous < 800) ^ (window.innerWidth < 800))) {

            let subtitle = $("#header-subtitle");
            if (window.innerWidth < 800) {
                subtitle = subtitle.detach();
                headerTop.after(subtitle)
            } else {
                subtitle = subtitle.detach()
                headerTop.children().first().after(subtitle)
            }

        }
        previous = window.innerWidth;

    }
    updateSubtitle();

    $(window).resize(updateSubtitle);

</script>
