<header>

    <div id="header-top" class="container">

        <h1 class="title">MAX GODEFROY</h1>

        <div class="col"></div>

        {%-  include social.liquid -%}

    </div>

    <nav>

        {% assign pages_list = site.pages |  sort: 'order' %}
        {% assign group = 'navigation' %}
        {% for node in pages_list %}
            {% if group == null or group == node.group %}
                {% if page.url == node.url %}
                    <a href="{{node.url}}" class="active">{{ node.title | upcase }}</a>
                {% else %}
                    <a href="{{node.url}}">{{ node.title | upcase }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

    </nav>

</header>
