<header>

    <div id="header-top" class="container">

        <h1 class="title">MAX GODEFROY</h1>

        <div class="col"></div>

        {%-  include social.liquid -%}

    </div>

    <div id="navigation">

    </div>

</header>
