{% assign tags = project.tags %}
{%- for tag in tags -%}

    {% assign tagValue = tag | strip | downcase %}

    {% assign specificTagClass = false %}

    {% if tagValue == "professional" %}
        {% assign specificTagClass = "professional-tag" %}
    {% elsif tagValue == "shadertoy" %}
        {% assign specificTagClass = "shader-toy-tag" %}
    {% elsif tagValue == "webgl" %}
        {% assign specificTagClass = "web-gl-tag" %}
    {% elsif tagValue == "ue4" %}
        {% assign specificTagClass = "ue4-tag" %}
    {% elsif tagValue == "opengl" %}
        {% assign specificTagClass = "opengl-tag" %}
    {% endif %}

    {% if specificTagClass %}
        <span class="portfolio-tag {{ specificTagClass }}">{{ tag | strip }}</span>
    {% else %}
        <span class="portfolio-tag default-tag"
              {% if project.defaultTagColor %}style="background-color: {{ project.defaultTagColor }}"{% endif %}
        >{{ tag | strip }}</span>
    {% endif %}

{%- endfor -%}
