
#page {
    max-width: 1000px;
    margin: 1.5rem auto;
}


#header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 5px;
    border-bottom: 1px solid #888;
}

.title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bolder;
}

.subtitle {
    margin: 0 0 0 2.5rem;
    font-size: 1.0rem;
    font-weight: normal;
}

.social-div {
    height: 1.3rem;
}

.social-div img {
    width: auto;
    max-height: 100%;
}

nav {
    padding-top: 5px;
}

nav a {
    margin-right: 2rem;
    color: #333
}

nav a:visited {
    margin-right: 2rem;
    color: #333
}

nav a.active {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
