
#page {
    max-width: 1000px;
    width: 100%;
    margin: 1.5rem auto;
}


#header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 5px;
    border-bottom: 1px solid #888;
}

.title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bolder;
}

.subtitle {
    margin: 0 0 0 2.5rem;
    font-size: 1.0rem;
    font-weight: normal;
}

.social-div {
    height: 1.3rem;
}

.social-div img {
    width: auto;
    max-height: 100%;
}

nav {
    padding-top: 5px;
}

nav a {
    margin-right: 2rem;
    color: #333
}

nav a:visited {
    margin-right: 2rem;
    color: #333
}

nav a.active {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.portfolio-excerpt {
    position: relative;
}

.minor-project .portfolio-excerpt {
    font-size: 0.75rem;
}

.portfolio-preview-wrap {
    padding-bottom: 56.25%;
}

.portfolio-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.portfolio-preview img {
    max-width: 100%;
    width: auto;
}

.project-meta-absolute {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    text-shadow: black 0 0 3px;
}

.project-meta-absolute .post-meta {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9em;
}

.project-meta-absolute h3 {
    color: white;
    font-size: 1.75em;
}

.portfolio-tag {
    color: white;
    border-radius: 0.75rem;
    padding: 0.2rem 0.75rem;
}

.shader-toy-tag { background-color: #4a9b7c }
.web-gl-tag { background-color: #90191f }
.default-tag { background-color: #666666 }
