
#page {
    max-width: 1000px;
    width: 100%;
    margin: 1.5rem auto;
}


header {
    padding: 0 0.5rem 0 0.5rem;
}


#header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.title {
    margin: 0 2.5rem 0 0;
    font-size: 1.4rem;
    font-weight: bolder;
}

.subtitle {
    margin: 5px 0 5px;
    font-size: 1.0rem;
    font-weight: normal;
}

.social-div {
    height: 1.3rem;
}

.social-div img {
    width: auto;
    max-height: 100%;
}

nav {
    border-top: 1px solid #888;
    padding-top: 5px;
    margin-top: 10px;
}

nav a {
    margin-right: 2rem;
    color: #333
}

nav a:visited {
    margin-right: 2rem;
    color: #333
}

nav a.active {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.portfolio-excerpt {
    position: relative;
}

.minor-project .portfolio-excerpt {
    font-size: 0.7em;
}

.portfolio-preview-wrap {
    padding-bottom: 56.25%;
}

.portfolio-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.portfolio-preview img {
    max-width: 100%;
    width: auto;
}

.project-meta-absolute {
    position: absolute;
    left: 1em;
    bottom: 1em;
    text-shadow: black 0 0 3px;
}

.project-meta-absolute .post-meta {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9em;
}

.project-meta-absolute h3 {
    color: white;
    font-size: 1.75em;
    margin-bottom: 0.5em;
}

.portfolio-tag {
    color: white;
    border-radius: 0.75em;
    padding: 0.2em 0.75em;
    white-space: nowrap;
    margin-top: 0.2em;
    display: inline-block;
}

.professional-tag { background-color: #ba9a5b }
.shader-toy-tag { background-color: #4a9b7c }
.web-gl-tag { background-color: #90191f }
.vulkan-tag { background-color: #9F1D21 }
.ue4-tag { background-color: #1756a9 }
.opengl-tag { background-color: #5586a4 }
.default-tag { background-color: #666666 }

#my-photo {
    border-radius: 50%;
    width: 25%;
    border: #aaaaaa22 4px outset;
}
