---
layout: default
---
<article class="post">

    <div class="post-content">

        <img class="mx-auto d-block" id="my-photo" src="/assets/img/photo.jpg" />

        {{ content }}

    </div>

</article>
