<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.liquid -%}

  <body>

    <div id="page">

      {%- include header.liquid -%}

      <main class="page-content px-4" aria-label="Content">
        {{ content }}
      </main>

    </div>

  </body>

</html>
