---
layout: default
---
<article class="post">

  {% if page.hideTitle != true %}
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
  {% endif %}

  <div class="post-content">

      {{ content }}

      <div class="container">

          {% assign closedDiv = true %}

          {%- for image in page.images -%}

              {% assign remainder = forloop.index | modulo: 2 %}

              {% if remainder == 1 %}
                  <div class="row align-items-center">
                  {% assign closedDiv = false %}
              {% endif %}

              <a href="/portfolio" class="col m-1 ratio ratio-16x9">

                  <img class="img-fluid" src="{{ image.path | relative_url }}"  alt="{{  image.alt }}" />

              </a>

              {% if remainder == 0 %}
                  </div>
                  {% assign closedDiv = true %}
              {% endif %}

          {%- endfor -%}

          {% if closedDiv == false %}
              <div class="col"></div>
          {%- endif -%}

      </div>

  </div>

</article>
