---
layout: default
---

<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.portfolio.size > 0 -%}

        {% assign portfolio = site.portfolio | sort: 'date' | reverse %}
        {% assign minorProjects = portfolio | where: "importance", "minor" %}
        {% assign majorProjects = portfolio | where: "importance", "major" %}

        <div id="majorContainer" class="container mt-4">

            {% for project in majorProjects %}

                <div class="row p-0">
                    <div class="col p-0">{%- include portfolio-excerpt.liquid -%}</div>
                </div>

            {% endfor %}

        </div>

        <div id="minorContainer" class="container">

            {% assign closedDiv = true %}

            {%- for project in minorProjects -%}

                {% assign remainder = forloop.index | modulo: 2 %}

                {% if remainder == 1 %}
                    <div class="row p-0">
                    {% assign closedDiv = false %}
                {% endif %}

                <div class="col minor-project p-0">{%- include portfolio-excerpt.liquid -%}</div>

                {% if remainder == 0 %}
                    </div>
                    {% assign closedDiv = true %}
                {% endif %}

            {%- endfor -%}

            {% if closedDiv == false %}
                    <div class="col"></div>
                </div>
            {% endif %}

        </div>

        <div class="container mt-5">

            {% for project in portfolio %}

                {% if project.importance != "major" and project.importance != "minor" %}

                    <div class="row">
                        <div class="col">{%- include portfolio-excerpt.liquid -%}</div>
                    </div>

                {% endif %}

            {% endfor %}

        </div>

    {%- endif -%}

</div>

<script>

    const majorContainer = $("#majorContainer");
    const minorContainer = $("#minorContainer");

    const factor = 0.025;
    function updateFontSize() {

        const size = Math.min(700, window.innerWidth) * factor;
        majorContainer.css("font-size", `${size}px`);
        minorContainer.css("font-size", `${size}px`);

    }
    updateFontSize();

    $(window).resize(updateFontSize);

</script>
