---
layout: default
---

<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.portfolio.size > 0 -%}
        {% assign portfolio = site.portfolio | sort: 'date' | reverse %}
        <ul class="post-list">
            {%- for project in portfolio -%}
                <li>
                    {%- include portfolio-excerpt.liquid -%}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}

</div>
